DEBUG=True
SECRET_KEY=django-insecure-chai-grill-super-luxury-production-key-2025
ALLOWED_HOSTS=localhost,127.0.0.1,.chaigrill.in
DATABASE_URL=sqlite:///db.sqlite3
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
